body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-family: roboto, sans-serif;
  background-color: #1c1c1e;
}

.Modal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  width: 400px;
  height: 600px;

  background-color: #333;
  color: white;
  border-radius: 10px;
}

.logo-header {
  width: 80px;
  height: 80px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 50px;
}

.header h1 {
  margin: 0;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

form input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;

  color: white;
  background-color: #444;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.buttons button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #444;
}

.logos {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.logo {
  width: 40px;
  height: 40px;
}

.css-ahj2mt-MuiTypography-root {
  font-size: 14px !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
  color: #6161de !important;
}
